 <app-carsoul></app-carsoul>
 <!-- Featured Start -->
 <app-featured></app-featured>
 <!-- Featured End -->


 <!-- Categories Start -->
 <app-categories></app-categories>
 <!-- Categories End -->


 <!-- Offer Start -->
 <app-offer></app-offer>
 <!-- Offer End -->


 <!-- Products Start -->
 <app-products></app-products>
 <!-- Products End -->

 <!-- Subscribe Start -->
<app-subscribe></app-subscribe>
 <!-- Subscribe End -->


 <!-- Products Start -->
 <app-produit></app-produit>
 <!-- Products End -->

<!-- Products Sport -->
<!-- <app-sport></app-sport> -->
<!-- Products Sport End -->

 <!-- Vendor Start -->
<app-vendor></app-vendor>
 <!-- Vendor End -->

