<app-banner title="SEARCH"></app-banner>
<body> 
    <h1>Search Product</h1>
        <div class="info"><a href="https://www.grandvincent-marion.fr" target="_blank"><p> Shop Online <i class="fa fa-heart"></i> by Web Site </p></a></div>
      
    <div class="content">
        <div class="container">
            <img class="bg-img" src="https://mariongrandvincent.github.io/HTML-Personal-website/img-codePen/bg.jpg" alt="">
                <div class="menu">
                    <a href="signupClients" class="btn-connexion"><h2>SIGN IN</h2></a>
                    <a href="login" class="btn-enregistrer active"><h2>Login</h2></a>
                </div>
            <form [formGroup]="searchForm"   action="">
                <div class="connexion">
                    <div class="contact-form">
                        <label>NAME</label>
                        <input placeholder="" type="text" formControlName="name">
                        <div *ngIf="searchForm.controls['name'].invalid && (searchForm.controls['name'].touched ||
                        searchForm.controls['name'].dirty)">
                        <div *ngIf="searchForm.controls['name'].errors.required" class="red">
                            Name is required

                        </div>
                        <div *ngIf="searchForm.controls['name'].errors.minlength" class="red">
                            Name must have at last 2 chars
                        </div>
                        <div *ngIf="searchForm.controls['name'].errors.maxlength" class="red">
                            Name must have at most 20 chars

                        </div>

                        </div>

                        <label>PRICE</label>
                        <input placeholder="" type="number" formControlName="price" >
                        <div *ngIf="searchForm.controls['price'].invalid && (searchForm.controls['price'].touched ||
                        searchForm.controls['price'].dirty)">
                        <div *ngIf="searchForm.controls['price'].errors.required" class="red">
                            Price is required

                        </div>

                        </div>
                        <label>STOCK</label>
                        <input placeholder="" type="number" formControlName="stock">
                        <div *ngIf="searchForm.controls['stock'].invalid && (searchForm.controls['stock'].touched ||
                        searchForm.controls['stock'].dirty)">
                        <div *ngIf="searchForm.controls['stock'].errors.required" class="red" >
                            Stock is required

                        </div>

                        </div>
                        <br>
                        <!-- <div class="check">
                            <label>				
                                <input id="check" type="checkbox" class="checkbox">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="23px">
                                        <path class="path-back"  d="M1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
                                        <path class="path-moving" d="M24.192,3.813L11.818,16.188L1.5,6.021V2.451C1.5,2.009,1.646,1.5,2.3,1.5h18.4c0.442,0,0.8,0.358,0.8,0.801v18.398c0,0.442-0.357,0.801-0.8,0.801H2.3c-0.442,0-0.8-0.358-0.8-0.801V6"/>
                                    </svg>
                            </label>
                             <h3>Keep me signed in</h3> -->
                        <!-- </div>  -->
                        
                        <input class="submit" value="SEARCH" (click)="search()"  type="submit">
                    </div>
                    
                    <!-- <hr> -->
                    <!-- <a href="https://www.grandvincent-marion.fr/" target="_blank"><h4>Forgot password?</h4></a> -->
                </div>

            </form>
                
                
                
        </div>
        <h1>HELLOW SEARCH PRODUCTS</h1>
        <div *ngFor="let s of searche">
            <table class="table table-info">
                
                <thead>
                   
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Type</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Supplier</th>
                    </tr>
                </thead>
                <tr>
                    <td>{{s.name}}</td>
                    <td>{{s.price}}</td>
                    <td>{{s.stock}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.reference}}</td>
                    <td>{{s.supplier}}</td>
                </tr>

            </table>

        </div>
        <div *ngIf="searche?.length== 0" style="color: tomato; font-size: 70px; text-decoration: underline; text-align: center;">
           Not Found Products
        </div>
    
    </div>
    
    
    </body> 
