<app-banner title="CONTACT TABLE"></app-banner>
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Wellcom To List Contact Table</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
<div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let elt of pageOfItems">
    <div class="card product-item border-0 mb-4">
        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
            <img class="img-fluid w-100" src="assets/img/contact.avif" alt="">
        </div>
        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
            <label class="title">ID :</label><h6 class="text-truncate mb-3">{{elt._id}}</h6>
            <label class="title">NAME :</label><p class="text-truncate mb-3">{{elt.name}}</p>
            <label class="title">EMAIL :</label><p class="text-truncate mb-3">{{elt.email}}</p>
            <label class="title">SUBJECT :</label><p class="text-truncate mb-3">{{elt.subject}}</p>
            <label class="title">MESSAGE :</label><p class="text-truncate mb-3">{{elt.message}}</p>
            
            
            <!-- <div class="d-flex justify-content-center">
                <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
            </div> -->
        </div>
        <div class="card-footer d-flex justify-content-between bg-light border">
            <button type="button"> <img src="/assets/img/modifier.png" height ="90" width="90" title="Update Contact" /></button>
            <button type="button"> <img src="/assets/img/delete.png" height ="90" width="90" title="Delete Contact" /></button>
        </div>
    </div>
</div>
</div>
</div>
<div class="card-footer pb-0 pt-3">
    <jw-pagination 
   [items]="contact" [pageSize]="4" (changePage)="onChangePage($event)"></jw-pagination>
   </div>